<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <input type="text" placeholder="{{restaurant.name}}" name="name">
  <input type="text" placeholder="{{restaurant.name_en}}" name="name_en">
  <input type="text" placeholder="{{restaurant.caregory}}" name="category">
  <input type="text" placeholder="{{restaurant.image}}" name="image">
  <input type="text" placeholder="{{restaurant.location}}" name="location">
  <input type=" text" placeholder="{{restaurant.phone}}" name="phone">
  <input type="text" placeholder="{{restaurant.google_map}}" name="google_map">
  <input type="text" placeholder="{{restaurant.rating}}" name="rating">
  <input type="text" placeholder="{{restaurant.description}}" name="description">

  <button type="submit">Edit</button>
</form>

<form action="/restaurants/{{{this._id}}}/delete" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>